{% extends "modeladmin/index.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags %}

{% block header_extra %}
    {{ block.super }}
    {% if show_import_export %}
        <a href="{{ import_url }}" class="button bicolor icon icon-download" style="margin-left: 1em;">{% trans "Import" %}</a>
        <div class="dropdown dropdown-button match-width" style="display: inline-block; margin-left: 0.5em;">
            <button type="button" class="button bicolor icon icon-download">{% trans "Export" %}</button>
            <div class="dropdown-toggle icon icon-arrow-down"></div>
            <ul role="menu">
                <li><a href="{{ export_csv_url }}">{% trans "Export as CSV" %}</a></li>
                <li><a href="{{ export_xlsx_url }}">{% trans "Export as Excel" %}</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

