.q-card[data-v-22825df3]{border-radius:16px}.q-input[data-v-22825df3]{font-size:15px}@media(max-width:600px){.q-card[data-v-22825df3]{border-radius:12px}}@media(min-width:1024px){.q-card[data-v-22825df3]{padding:32px}}
